body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

body.home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #302f2f;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

main {
    padding: 5em 2em 2em 2em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media {
    margin-top: 1em;
}

.social-icon {
    color: white;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #000000;
}
.center-button {
    margin-top: 2em;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #ff0000;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
main {
    padding: 2em;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    border: 1px solid #000000;
    padding: 1em;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid #ff0000;
}
